In [13]:
##1 
import pandas as pd
 
def range_series(a=1,b=10):
   return pd.Series(range(a, b+1))
 
range_series()



##2Create a function that takes 2list nameed keys and values as argument 
def create_DataFrame(keys,values):
  return pd.DataFrame(values,columns=keys)

dd=create_DataFrame(['one','two'],[['x','y'],['a','b']])
print(dd)

  one two
0   x   y
1   a   b

In [15]:
### 3
def concatdata(a,b):
 return pd.concat([a,b], ignore_index=True)
a=create_DataFrame(['one','two'],[['x','y'],['a','b']])
b=create_DataFrame(['one','two'],[['x','y'],['a','b']])
print(concatdata(a,b))

  one two
0   x   y
1   a   b
2   x   y
3   a   b

In [41]:
##4
import pandas as pd
Cars=pd.read_csv("/content/mtcars2.csv")
Cars.describe()

            S.No        mpg        cyl  ...         am       gear     carb
count  32.000000  32.000000  32.000000  ...  32.000000  32.000000  32.0000
mean   16.500000  20.090625   6.187500  ...   0.406250   3.687500   2.8125
std     9.380832   6.026948   1.785922  ...   0.498991   0.737804   1.6152
min     1.000000  10.400000   4.000000  ...   0.000000   3.000000   1.0000
25%     8.750000  15.425000   4.000000  ...   0.000000   3.000000   2.0000
50%    16.500000  19.200000   6.000000  ...   0.000000   4.000000   2.0000
75%    24.250000  22.800000   8.000000  ...   1.000000   4.000000   4.0000
max    32.000000  33.900000   8.000000  ...   1.000000   5.000000   8.0000

[8 rows x 12 columns]

In [53]:
##5

#1. function taking column as argument
def get_max_correlated_column(col):
 return a[col].sort_values(ascending=False).index[1]
a=Cars.corr()
a
get_max_correlated_column("mpg")

'drat'